<div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Placeholder" [(ngModel)]="addTaskName">
            <mat-hint>Hint</mat-hint>
        </mat-form-field>
    </div>
    <div class="col">
        <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="addTaskDescription">
        <mat-hint>Hint</mat-hint>
    </mat-form-field></div>
    <div class="col">
        <div class="row" style="min-height:10px;"></div>
        <div class="row">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                (click)="addTask()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>
