<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element">
            <div class="inputName" *ngIf="!element.completed && !element.isEdit" style="font-size: 14px">
                {{element.name}}
            </div>
            <div class="inputName" *ngIf="!element.completed && element.isEdit" style="font-size: 14px">
                <input matInput placeholder="Name" [(ngModel)]="taskEditName">
            </div>
            <div class="inputName" *ngIf="element.completed && !element.isEdit" style="font-size: 14px">
                <s>{{element.name}}</s>
            </div>
        </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element">
            <div class="inputDescription" *ngIf="!element.completed && !element.isEdit" style="font-size: 14px">
                {{element.description}}
            </div>
            <div class="inputDescription" *ngIf="!element.completed && element.isEdit" style="font-size: 14px">
                <input matInput placeholder="Description" value="{{element.description}}" [(ngModel)]="taskEditDescription">
            </div>
            <div class="inputDescription" *ngIf="element.completed && !element.isEdit" style="font-size: 14px">
                <s>{{element.description}}</s>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.completed && !element.isEdit">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon"
                    (click)="taskCompleted(element)">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <div *ngIf="element.completed && !element.isEdit">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon"
                    (click)="taskUncompleted(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="!element.completed && element.isEdit">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a menu icon" 
                    (click)="editTaskDone(element)">
                    <mat-icon>done</mat-icon>
                </button>
            </div>
            <div *ngIf="!element.completed && !element.isEdit">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" 
                    (click)="editTaskStart(element)">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            
            <div *ngIf="!element.completed && element.isEdit">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" 
                    (click)="element.isEdit=false;this.editing=false;">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
            <div *ngIf="!element.completed && !element.isEdit">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a menu icon" 
                    (click)="deleteTask(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>